node_modules/
dist/
.env
coverage/
.idea/
.vscode/
.DS_Store
npm-debug.log
yarn-error.log
*.log
build/
.cache/
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output/
.DS_Store
__pycache__/